*{
    margin:0;
    padding:0;
}
.wrap{
    width:100%;
    margin-top: 75px;
}
main{
    width:100%;
    height:104px;
    background:#f2f1f0;
}
main p{
    margin-left:60px;
    font-size:42px;
    line-height: 104px
}